body {
  background-color: #88FF66;
  font-family: verdana;
}

h1 {
  color: #850505;
  text-align: center;
}

h2 {
  color: #850505;
}

p {
  color: #E9E351;
  border: 2px solid #0A3F08;
  border-radius: 5px;
  padding: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(80, 108, 0, 0.75) 10% 90%, rgba(0, 0, 0, 0.1));
}

dl {
  border: 2px solid #E9E351;
  padding: 5px;
}
