body {
  background-color: #8F6;
  font-family: verdana;
}

h1 {
  color: #850505;
  text-align: center;
}

p {
  color: #E9E351;
  border: 2px solid #0A3F08;
  border-radius: 5px;
  padding: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(80, 108, 0, 1), rgba(0, 0, 0, 0))
}
