body {
  background-color: #8F6;
  font-family: verdana;
}

h1 {
  color: #850505;
  text-align: center;
}

p {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(80, 108, 0, 1), rgba(0, 0, 0, 0))
}
